:root{
    --mainColor:#8ab4f8;
    --mainColor40:#8ab4f840;
    --mainColor80:#8ab4f880;
}
body{
    background:#2A2B2E;
    color:white;
    margin:0;
    overflow:hidden
  }
  .noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }
  #navBar {
    width:100vw;
    position:fixed;
    bottom:0;
    left:0;
    text-align:center;
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1.5em .5em; 
    gap: 0px 0px; 
    grid-template-areas: 
      ". . ."
      ". . ."; 
  }
  #navBar > div.navItem{
    -webkit-box-shadow: 0px 1em 0px 0px #3C4043; 
    box-shadow: 0px 1em 0px 0px #3C4043;
    background: #484A4D;
    /*font-weight:900;*/
  }
  #navBar > div.navItem:hover{
    background:#80808080;
    backdrop-filter: blur(10px);
  }
  #navBar > #slectionIdnicator > .selectionBar{
  background:var(--mainColor);
  width:100%;
  height:100%;
  -webkit-transition: all 0.5s 0s ease;
  -moz-transition: all 0.5s 0s ease;
  -o-transition: all 0.5s 0s ease;
  transition: all 0.5s 0s ease;
  }
  .tab{
    position:absolute;
    width:100vw;
    height: calc(100vh - 1.75em);
    -webkit-transition: transform 0.5s 0s ease, opacity 0.5s 0s ease;
  -moz-transition: transform 0.5s 0s ease, opacity 0.5s 0s ease;
  -o-transition: transform 0.5s 0s ease, opacity 0.5s 0s ease;
  transition: transform 0.5s 0s ease, opacity 0.5s 0s ease;
  }
  .passwordContainer{
  display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      ". ."; 
    }
    #passwordSettings, #passwordOutput{
      padding: 1em;
    }
    #passwordGen{
      position: absolute;
      bottom: 1em;
      left: 1em;
    }
    .genPW{
      width: calc(100% - 2em);
      margin-bottom: 5px;
    }
    input{
        border-radius:5px;
        color:white;
        background-color:#40404080;
        border:0;
        outline:0;
        -webkit-box-shadow: 0px 0px 0px 2px var(--mainColor);
        box-shadow: 0px 0px 0px 2px var(--mainColor);
        filter: saturate(0);
    }
    input:active ,input:hover {
        outline:none!important;
        -webkit-box-shadow: 0px 0px 0px 2px var(--mainColor), 0px 0px 0px 5px var(--mainColor40);
        box-shadow: 0px 0px 0px 2px var(--mainColor), 0px 0px 0px 5px var(--mainColor40);
        filter: saturate();
    }
    #popUp{
        top:-100%;
        position: absolute;
        width:100vw;
        /* height: 100vh; */
        text-align: center;
        background: #20202080;
        padding:1em;
        backdrop-filter: blur(10px);
        -webkit-transition: top 0.5s 0s ease;
        -moz-transition: top 0.5s 0s ease;
        -o-transition: top 0.5s 0s ease;
        transition: top 0.5s 0s ease;
    }
    #popUpBar{
        position: relative;
        width: 100%;
        /* width: 0%; */
        background: var(--mainColor80);
        height: 3px;
        bottom:-1em;
        left: -1em;
        -webkit-transition: width 1.5s 0s ease;
        -moz-transition: width 1.5s 0s ease;
        -o-transition: width 1.5s 0s ease;
        transition: width 1.5s 0s ease;
    }